.navbar{
    background-color: black;
    width: 100%;
    color: white;
    padding: 10px;
}
.btn{
    background-color: black;
    padding: 5px 10px;
}
.btn a{
    text-decoration: none;
    color: white;
}